<body top>
 	<div class ="container">
	 	<div class ="row">
	 		<div class="headline col-xs-12">
	 			<h1>The 7 Habits of Highly Effective People</h1>
	 		</div>
	 		<div class="top-explanation  col-xs-12">
	 			<h3>心が変われば行動が変わる<br/>行動が変われば習慣が変わる<br/>習慣が変われば人格が変わる<br/>人格が変われば運命が変わる</h3>
	 			<p>ウィリアム・ジェームズ『純粋経験の哲学』(岩波文庫)2004年</p>
	 		</div>
	 		<div class="col-md-2 col-md-offset-5">
		 		<%= link_to users_path  do %>
		 			<%= image_tag 'public/images/habits.jpeg', :class => "img-thumbnail"%>
		 		<% end %>
	 		</div>
	 		<div class="bottom-explanation  col-xs-12">
	 			<h3>君も習慣を継続して生まれ変わった自分になろう</h3>
	 		</div>
	 	</div>
	</div>
</body>


