/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

.clearfix::after{
content:"";
display:block;
clear:both;
}
.navbar-default .navbar-nav > li > a {
color: white;
}

.navbar-custom{
background-color:  #D2302F;
}

body > .container {
padding: 60px 15px 0;
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

body{
background-color: #FAFAFA
}

.footer{
background-color: #D2302F;
width: 100%;
height: 48px;
margin-top: 30px
}

 .footer-text{
text-align: center;
padding-top: 14px;
}

ul {
list-style: none;
}

a {
text-decoration: none;
}
