// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline{
padding-top: 150px;
}

.top-explanation{
text-align: center;
}

.bottom-explanation{
text-align: center;
padding-bottom: 150px;
}

.top-about-explanation{
padding-bottom: 50px;
text-align: center;
}

.main-about-picture{
padding-bottom: 50px;
}

.about-text-top{
text-align: center;
}
.about-picture-top{
float: right;
}
.center-block{
margin: 0 auto;
max-width: 50%;
}
.new-create-btn{
margin-top: 20px;
}
.title-text{
text-align: center;
}

